<p>Categories</p>

<table>
  <tr>
    <th><h1>Title</h1></th>
  </tr>
 
  <% @category.each do |category| %>
    <tr>
      <td> <h3><a href="/categories/<%=category.id%>"><%= category.title %></a></h3></td>
    </tr>
  <% end %>
</table>