<p>All articles that belongs to <%=@category.title%> </p>


<ul>
	<% @category.articles.each do |article| %>
			<h1> <a href="/articles/<%=article.id%>"><%= article.description %></a></h1>
	<% end %>
</ul>




<%= link_to 'Create article', new_category_article_path(@category) %>